.container
  .row
    .col-md-6
      .container
        .row
          .col-md-4
            %h1.title #{@customer.first_name} #{@customer.last_name}
          .col-md-2.actions
            = link_to 'Edit', edit_customer_path(id: @customer.id), class: 'btn btn-info'
            = link_to 'Delete', customer_path(id: @customer.id), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
        .row
          .col-md-6
            Email: #{@customer.email}
        .row
          .col-md-6
            Phone: #{@customer.phone_number}
    .col-md-6
      .container
        - if @customer.customer_address
          .row
            .col-md-4
              %h1.title Address
            .col-md-2.actions
              = link_to 'Edit', edit_customer_address_path(customer_id: @customer.id), class: 'btn btn-info'
              = link_to 'Delete', customer_address_path(customer_id: @customer.id), method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
          .row
            .col-md-6
              = render partial: 'customers/address/address', locals: { customer_address: @customer.customer_address }
        - else
          .col-md-2
            %h1.title Address
          .col-md-6.actions
            = link_to "Add", new_customer_address_path(customer_id: @customer.id), class: 'btn btn-primary'
  .row.spacer
  .row.border-top
    .col-md-6
      .container
        .row
          .col-md-4
            %h1.title Customer Orders
          .col-md-2.actions
            = link_to 'New', new_customer_order_path(customer_id: @customer.id), class: 'btn btn-primary'
  .row
    .container
      - if @customer_orders['in_progress']
        .container
          .row
            %h2.title In Progress
            - @customer_orders['in_progress'].each do |order|
              = render partial: 'orders/order', locals: { order: order }
      - if @customer_orders['not_started']
        .container
          .row
            %h2.title Not Started
            - @customer_orders['not_started'].each do |order|
              = render partial: 'orders/order', locals: { order: order }
      - if @customer_orders['shipped']
        .container
          .row
            %h2.title Shipped
            - @customer_orders['shipped'].each do |order|
              = render partial: 'orders/order', locals: { order: order }
      - if @customer_orders['complete']
        .container
          .row
            %h2.title Complete
            - @customer_orders['complete'].each do |order|
              = render partial: 'orders/order', locals: { order: order }
    