= form_for(customer_address, url: customer_address_path(customer_id: customer_address.customer_id)) do |f|
  .container
    .row.form-field
      .col-md-2
        = f.label :line_one, required: true
      .col-md-5
        = f.text_field :line_one, required: true
    .row.form-field
      .col-md-2
        = f.label :line_two
      .col-md-5
        = f.text_field :line_two
    .row.form-field
      .col-md-2
        = f.label :city, required: true
      .col-md-5
        = f.text_field :city, required: true
    .row.form-field
      .col-md-2
        = f.label :state, required: true
      .col-md-5
        = f.text_field :state, required: true
    .row.form-field
      .col-md-2
        = f.label :country
      .col-md-5
        = f.text_field :country
    .row.form-field
      .col-md-2
        = f.label :zip_code, required: true
      .col-md-5
        = f.text_field :zip_code, required: true
    .row.form-field
      .col-md-3
        = f.submit class: 'btn btn-primary'