!!! HTML
%html
  %head
    %title= yield(:title)
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .container
        = link_to 'Happy', root_path, id: 'logo'
        %nav
          - if @current_user
            %ul.nav.navbar-nav.navbar-right
              %li= link_to 'Customers', customers_path
              %li= link_to 'Orders', orders_path
              %li= link_to 'Market Mode', '#'
              %li= link_to 'Log Out', logout_path, method: :delete
    .container
      - flash.each do |message_type, message|
        .alert(class = "alert-#{message_type}")= message
      = yield
    %footer.footer
      -if Rails.env.development?
        .container.debug
          = debug(params)
      .container.footer-copyright
        &copy; Happy by Heather #{Time.now.year}
